.contentWrapper {
    width: 70%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.menubutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    width: 150px;
    height: 50px;
    background-color: #36752e;
    text-align: center;
    vertical-align: middle;
    color: #202020;
    padding-top: 10px;
}

.info {
    text-align: center;
}

.menubutton > a{
    color: #202020;
}

main {
    min-height: calc(100vh - 240px);
    padding-bottom: 90px;
    margin-bottom: 30px;
    text-align: center;
}


.vprogr {
    margin-top: 25px;
}

.pollingArea {
    padding-top: 50px;
}

.pollingButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
}

.progress-bar {
    color: rgb(0, 0, 0);
    font-size: large;
}
